<!DOCTYPE html>
<html>

<head>
    <title>Interactive maps for Django web apps</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <h1>Map Sultan Mujaki</h1>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZWF0YWphLWRldiIsImEiOiJja3ExZHJybDQwZG9zMndxbGgyNW1ycmQyIn0.VJXZUpn89qTA6SYXOy5aFQ';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11'
        });
    </script>
</body>

</html>